// セクション

// 写真
.section-photo {
  padding: 0 25px;
  background-color: var(--change-bgc-check);
  background-image: url(../images/check.png);

  &::before,
  &::after {
    content: "";
    display: block;
    width: 1px;
    height: var(--change-height-line-pink);
    margin: 0 auto;
    background-color: var(--color-main-light);
  }

  &__header {
    max-width: 378px;
    margin: 0 auto 36px;

    &::before {
      content: url(../images/candy.svg);
      display: block;
      width: 73px;
      margin: 0 auto 18px;
    }
  }

  &__heading {
    margin-bottom: 30px;
    text-align: center;
    font-size: 15px;
    line-height: 1.5;
    color: var(--color-main);
  }

  &__lead {
    font-size: 12px;
    line-height: 2;
  }

  &__list {
    max-width: 467px;
    margin: 0 auto -15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    width: calc((100% - 15px) / 2);
    margin-bottom: 15px;
  }

  .dark-mode &__image {
    filter: saturate(0.8) brightness(0.8);
  }


  @include breakpoint-min($breakpoint-md) {
    &__header {
      max-width: 567px;
    }

    &__heading {
      margin-bottom: 46px;
      font-size: 25px;
    }

    &__lead {
      font-size: 18px;
    }

    &__list {
      max-width: 874px;
      margin: 0 auto -20px;
    }

    &__item {
      width: calc((100% - 20px * 2) / 3);
      margin-bottom: 20px;
    }
  }
} // .section-photo


// フッター
.section-footer {
  padding-bottom: 110px;
  text-align: center;

  &::before {
    content: "";
    display: block;
    width: 1px;
    height: var(--change-height-line-pink);
    margin: 0 auto 20px;
    background-color: var(--color-main-light);
  }

  &__heading {
    margin-bottom: 33px;
  }

  &__address {
    margin-bottom: 44px;
    font-style: normal;
    font-size: 12px;
    line-height: 2;
  }


  @include breakpoint-min($breakpoint-md) {
    &__heading {
      margin-bottom: 46px;
    }

    &__address {
      font-size: 18px;
    }
  }
}// .section-footer


// ヘッダー
.section-header {
  position: relative;
  padding: 25px 25px 0;

  &__site {
    position: relative;
    border: solid 1px;
    border-image-source: url(../images/border.svg);
    border-image-slice: 68;
    border-image-width: 40px;
    border-image-outset: 20px;
    text-align: center;

    // ライン
    &::after {
      content: "";
      display: block;
      width: 1px;
      height: var(--change-height-line-white);
      margin: 0 auto;
      background-color: #fff;
    }
  }

  &__heading {
    margin: 72px 0 153px;
  }

  &__catch {
    color: var(--change-color-text-white);
    font-weight: bold;
  }

  &__switch {
    position: absolute;
    top: 385px;
    left: calc(50% - 46px);
  }

  @include breakpoint-min($breakpoint-md) {
    padding: 44px 44px 0;

    &__site {
      border-image-width: 68px;
      border-image-outset: 34px;
    }

    &__heading {
      margin: 120px 0;
    }

    &__catch {
      font-size: 22px;
    }

    &__switch {
      top: 366px;
      left: calc(50% + 81px);
    }
  }
} // .section-header
