<aside class="<%= class_name %> sns">
  <ul class="sns__list">
    <li class="sns__item">
      <a class="sns__link" href="#">
        <i class="sns__icon ri-twitter-fill"></i>

        <span class="sr-only">Twitter</span>
      </a>
    </li>

    <li class="sns__item">
      <a class="sns__link" href="#">
        <i class="sns__icon ri-facebook-circle-fill"></i>

        <span class="sr-only">Facebook</span>
      </a>
    </li>

    <li class="sns__item">
      <a class="sns__link" href="#">
        <i class="sns__icon ri-instagram-line"></i>

        <span class="sr-only">Instagram</span>
      </a>
    </li>
  </ul>
</aside>
