<div class="<%= class_name %> switch">
  <p class="switch__text">Mode</p>

  <div class="onoffswitch">
    <input class="onoffswitch-checkbox" id="myonoffswitch" type="checkbox" name="onoffswitch" tabindex="0">
    <label class="onoffswitch-label" for="myonoffswitch"></label>
  </div>
</div>
